body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #d2d2d2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pokemon-image {
    filter: brightness(1.1);
}

.pokemon-image img {
    border-radius: 10%;
    border: solid 2px;   
    padding: 16px; 
    width: 300px;
    height: 300px;
}

.pokemon-name {
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 75%;
    margin: 10px auto;
    min-width: fit-content;
    filter: brightness(1.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.nav-button {
    text-decoration: none; 
    padding: 5px;    
    color: #000;
}

.nav-button img {
    width: 50px;
    height: 50px;
}

#next-button {
    margin-left: auto; 
}

#prev-button {
    margin-right: auto; 
}

.nav-button h4 {
    border: solid 1px;
    width: 25vw;
    margin: auto;
    border-radius: 10px;
    padding: 0.5rem;
}

.pokemon-name h1 {
    font-size: 40px;
    padding: 0 1rem;
    margin: 0.5rem;
}

.pokemon-number h1 {
    margin: auto;
    padding: 0px;
}

.pokemon-types {
    display: inline-block;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;    
}

.types-list {
    display: flex;
    gap: 1rem;
    padding: 0rem;
    border-radius: 10px;    
    width: max-content;
    margin: auto;
    filter: brightness(1.1);    
}

.types-list li {
    width: 100px;
    height: 40px;
    margin: auto;
}

li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 10px;
    text-transform: capitalize;
    border: solid 2px;
    filter: brightness(1.1);
    font-size: 16px; 
}

.pokemon-stats-list {       
    border-radius: 10px;
    width: min-content;
    padding: 0 0.5rem;
    margin: 0 auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pokemon-stats-list li {
    width: 100px;
    height: 75px;
    margin: auto;
}

/* Types */
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
} 
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

/* Stats */
.hp {
    background-color: #FF5959;
}
.attack {
    background-color: #F5AC78;
}   
.defense {
    background-color: #FAE078;
}
.special-attack {
    background-color: #9DB7F5;
}
.special-defense {
    background-color: #A7DB8D;
}
.speed {
    background-color: #FA92B2;
}

