/* details.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pokemon-image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.pokemon-name {
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 75%;
    margin: 10px auto;
    min-width: fit-content;
    filter: brightness(1.1);
}

.pokemon-name h1 {
    font-size: 40px;
    padding: 0 1rem;
}

.pokemon-number h1 {
    margin: auto;
    padding: 0px;
}

.pokemon-types {
    display: inline-block;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;    
}

.types-list {
    display: flex;
    gap: 10px;
    padding: 0rem;
    border-radius: 10px;    
    width: max-content;
    margin: auto;
    filter: brightness(1.1);      
}

li {
    list-style: none;
    padding: 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    border: solid 2px;
    filter: brightness(1.1);
    font-size: 16px;     
}

.pokemon-stats-list {       
    border-radius: 10px;
    width: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 1rem;
    margin: auto;
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
} 
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}
.hp {
    background-color: #FF5959;
}

.attack {
    background-color: #F5AC78;
}   

.defense {
    background-color: #FAE078;
}

.special-attack {
    background-color: #9DB7F5;
}

.special-defense {
    background-color: #A7DB8D;
}

.speed {
    background-color: #FA92B2;
}

